@import 'variables';

* {
    box-sizing: border-box;
}

body {
    background-color: $main-background-color;
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.action {
    padding-top: 10px;

    a {
        text-decoration: none;
        color: $heading-font-color;
        font-size: 15px;
        font-weight: bold;
        border: solid;
        border-radius: 5px;
        padding: 10px;
        width: 100px;
        text-align: center;
    
        &:hover {
            background-color: $accent-color;
        }
    }
}

.heading {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    box-sizing: content-box;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:0px;
}

.title{
    margin: 0;
    height: 30px ;
    font-size: 30px;
    text-transform: uppercase;

    .letter_color{
        color: $accent-color;
    }
}

.rectangle {
    height: 5px;
    width: 150px;
    background-color: $accent-color;
}