@import 'variables';

* {
    box-sizing: border-box;
}

body {
    background-color: $main-background-color;
    margin: 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}