@import 'variables';

header {
    height: 35px;
    background-color: $header-footer-background-color;
    font-family: $secondary-font-family;
    font-weight: 300;
    font-size: 14px;
    color: $header-footer-font-color;
    
    .container {
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }

   
    span {
        padding-right: 15px;
    }

    span + span {
        padding-left: 10px;
    }

    span:last-child {
        padding-right: 0;
    }
    
    .nav-link {
        color: $header-footer-font-color;
        text-decoration: none;
    }

    .nav-link + .nav-link {
        margin-left: 25px;
    }

}