@import 'variables';


.routes {
    height: 700px;
    background: no-repeat bottom/100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/routes_background.jpg);
    
    .container {
        height: 100%;
        font-family: $main-font-family;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
    }

    .heading .title {
        color: $main-background-color;
    }
}