$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$main-background-color: #ffffff;
$header-footer-background-color: #24282e;
$header-footer-font-color: #fefefe;