$main-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$main-background-color: #ffffff;
$accent-color: #32a8d6;
$header-footer-background-color: #24282e;

$heading-font-color: #ffffff;
$header-footer-font-color: #fefefe;

$accent-color_second: #66a6d3;
