* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

.action {
  padding-top: 10px;
}

.action a {
  margin: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14;
  font-weight: bold;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.action a:hover {
  background-color: #32a8d6;
}

.heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  margin-top: 100px;
}

.title {
  margin: 0;
  height: 44px;
  font-size: 44px;
  text-transform: uppercase;
}

.title .color {
  color: #32a8d6;
}

.block {
  height: 5px;
  width: 150px;
  background-color: #32a8d6;
}

header {
  height: 35px;
  background-color: #24282e;
  padding-top: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fefefe;
}

header .container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header span {
  padding-right: 15px;
}

header span + span {
  padding-left: 10px;
}

header span:last-child {
  padding-right: 0;
}

header .nav-link {
  color: #fefefe;
  text-decoration: none;
}

header .nav-link + .nav-link {
  margin-left: 25px;
}

.hero {
  height: 650px;
  background-color: #e9f0fd;
  background: no-repeat center/100% url(../images/hero.jpg);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.hero .container {
  height: 104px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 40%;
  right: 0;
  left: 0;
}

.hero input {
  display: none;
}

.hero .hero-switcher {
  width: 104px;
  background-color: #24282ea8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  cursor: pointer;
}

.hero .hero-switcher:hover {
  background-color: #32a8d6;
}

.hero .hero-slogan {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.hero h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.accent {
  color: #32a8d6;
}

.logo-and-nav {
  height: 90px;
}

.logo-and-nav .container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
}

.logo-and-nav nav {
  width: 721px;
  height: 20px;
  font-size: 14px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 900;
}

.logo-and-nav .logo {
  width: 70px;
  height: 30px;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-and-nav .logo .span_l {
  margin-left: 1px;
}

.logo-and-nav .logo .span_l.color {
  color: #32a8d6;
  font-weight: 900;
}

.logo-and-nav .nav-link {
  color: #393939;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-and-nav .nav-link:hover {
  color: #32a8d6;
}

.logo-and-nav .nav-link + .nav-link {
  margin-left: 45px;
}

.about {
  height: 600px;
}

.about .container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
}

.about .features {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  height: 280px;
}

.about .feature {
  height: 280px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  opacity: 0.71;
  border: solid 1px;
}

.about .feature:hover {
  border-color: #32a8d6;
}

.about .feature:hover i {
  color: #32a8d6;
}

.about .feature:hover h3 {
  color: #32a8d6;
}

.about .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.about .icon-container i {
  font-size: 48px;
  color: #c4c4c4;
}

.about p {
  margin-top: 10px;
  margin-bottom: 0;
  max-height: 62px;
  overflow: auto;
}

.routes {
  height: 700px;
  background: no-repeat bottom/100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(../images/routes_background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/routes_background.jpg);
}

.routes .container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.routes .heading .title {
  color: #ffffff;
}

.routes .routes-container {
  height: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.routes .route {
  height: 100%;
  width: 350px;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.routes img {
  height: 277px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  top: 0;
}

.routes .route-info {
  height: 103px;
  width: 100%;
  padding: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.routes .route-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 16px;
  color: #444444;
  text-align: left;
}

.routes .route-desc .action {
  height: 55px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #32a8d6;
  border-color: #32a8d6;
}

.routes .route-desc .action a {
  color: #32a8d6;
  border-color: #32a8d6;
}

.routes .route-desc .action a:hover {
  color: #ffffff;
}

.sights {
  height: 950px;
}

.sights .container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sights .filter-buttons {
  margin-top: -25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sights .radio-filter {
  margin-right: 5px;
  cursor: pointer;
}

.sights .radio-filter input {
  display: none;
}

.sights .radio-filter input:checked + span {
  background-color: #32a8d6;
  border-color: #32a8d6;
}

.sights .radio-filter span {
  display: block;
  width: 120px;
  height: 30px;
  margin: 60px 9px 60px 7px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #444444;
  border: solid 1px #444444;
  text-align: center;
  padding: 4px;
  text-transform: uppercase;
}

.sights .sights-container {
  margin-bottom: 100px;
  -ms-grid-columns: (277.5px)[4];
      grid-template-columns: repeat(4, 277.5px);
  grid-auto-rows: 250px;
}

.sights .sights-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sights .sights-container .case-item {
  background-color: #bdbebd;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sights .sights-container .case-item:hover .case-inner {
  opacity: 1;
  cursor: pointer;
}

.sights .sights-container .case-inner {
  margin: auto auto;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border: 10px solid rgba(0, 0, 0, 0.6);
  width: 140px;
  height: 140px;
}

.sights .sights-container .case-inner-content {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  background-color: #32a8d6;
  padding: 0 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video {
  height: 550px;
  background: no-repeat center/100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(../images/video.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/video.jpg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video input {
  display: none;
}

.video i {
  font-size: 180px;
  color: #ffffff;
}

.video i:hover {
  color: #32a8d6;
  cursor: pointer;
}

.blog {
  height: 700px;
}

.blog .container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-container {
  margin-bottom: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 440px;
}

.blog .blog-container .blog-post {
  height: 380px;
  width: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog .blog-container .blog-post a {
  text-decoration: none;
}

.blog .blog-container .blog-post a img {
  width: 350px;
  height: 230px;
}

.blog .blog-container .blog-post a .title {
  font-size: 18px;
  height: 44px;
  font-family: "Open Sans", sans-serif;
  margin: 3.5px 19.5px 4.5px 0;
  line-height: 1.44;
  letter-spacing: -0.18px;
  text-align: left;
  color: #555252;
}

.blog .blog-container .blog-post a .block_line {
  height: 3px;
  width: 130px;
  background-color: #32a8d6;
  margin: 4.5px 121.5px 7.5px 0.5px;
}

.blog .blog-container .blog-post a .text {
  height: 50px;
  margin: 8px 22px 0 0.5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.14px;
  text-align: left;
  color: #555252;
}

footer {
  height: 355px;
  background-color: #24282e;
}

footer .container {
  height: 100%;
  padding-top: 64px;
  padding-bottom: 60px;
  gap: 20px 32px;
      grid-template-areas: "heading1 heading2" "content1 content2" "content1 social-links";
  -ms-grid-rows: 35px 1fr 44px;
      grid-template-rows: 35px 1fr 44px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
}

footer #about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading1;
}

footer #about-content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: content1;
}

footer #address {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading2;
}

footer #address-content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content2;
}

footer #social-links {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: social-links;
}

footer #about, footer #address {
  margin: 0;
}

footer #about .title, footer #address .title {
  position: relative;
  top: 10px;
  font-size: 24px;
}

footer #about .block, footer #address .block {
  height: 3px;
  width: 65px;
}

footer p {
  margin-bottom: 0;
}

footer .i-container {
  margin-right: 10px;
  height: 44px;
  width: 44px;
  border: solid 1px #fefefe;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .i-container a {
  color: #fefefe;
}

footer .i-container:hover {
  color: #32a8d6;
  border-color: #32a8d6;
  cursor: pointer;
}

footer .i-container:hover a {
  color: #32a8d6;
  font-size: 25px;
}

.sign {
  height: 80px;
  background-color: black;
}

.sign .container {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fefefe;
}

.sign .container .accent {
  color: #32a8d6;
  margin-left: 0.5em;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content {
  height: 700px;
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #32a8d6;
}

.popup-content #fname {
  display: inline;
}

.popup-content #number {
  display: inline;
}

.popup-content .direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content .close {
  position: absolute;
  top: -10px;
  right: -12px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
/*# sourceMappingURL=main_page.css.map */