@import 'common';
@import 'header';
@import 'variables';
@import 'hero';

.logo-and-nav{
    .container {
       
        height:90px;
        justify-content: space-between;
        padding-bottom: 20px;
        

        align-items: center;   
    }

    nav {
       
        width: 721px;
        height: 20px;
        font-family: $secondary-font-family;
        font-size: small;
        justify-content: flex-end;
       
        
        position: relative;


        
    }
    .logo{
        width: 70px;
        height: 30px;
        font-size: 25px;
        align-items: center;
        justify-content: center;
        .span_l{
            margin-left: 1px;


        }
        .span_l.color{
            color: #66a6d3

        }




    }

    .nav-link {
        color: #393939;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        &:hover {
            color:  #66a6d3;;
        }
         

    }
    .nav-link + .nav-link {
        margin-left: 45px;
    }

}




.about{
    height: 600px;
    div.container{
        text-align: center;
    }
    .features{
        justify-content: space-between;
        margin-top: 50px;
        font-family: $secondary-font-family;

            
    }
    .block{
        height: 5px;
        width: 100px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: -20px;
        background-color:  #66a6d3;
    }
    .title{
            height: 44px ;
            justify-content: center;
            align-items: center;
            font-size: 44px;
            text-transform: uppercase;
            font-family: $main-font-family;
            .color{
                color:  #66a6d3;
            }
         }
    .feature{
        height: 280px;
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.71;
        border: solid 0.5px #000000;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
        &:hover {
            i {
            color: #66a6d3;
            }

            h3 {
            color: #66a6d3;
            }
        }
       
    }
    .icon-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        i {
            font-size: 48px;
            color: #c4c4c4
        }
    }   
}