* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

.heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  margin-top: 100px;
}

.title {
  margin: 0;
  height: 44px;
  font-size: 44px;
  text-transform: uppercase;
}

.title .color {
  color: #32a8d6;
}

.block {
  height: 5px;
  width: 100px;
  background-color: #32a8d6;
}

header {
  height: 35px;
  background-color: #24282e;
  padding-top: 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fefefe;
}

header .container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header span {
  padding-right: 15px;
}

header span + span {
  padding-left: 10px;
}

header span:last-child {
  padding-right: 0;
}

header .nav-link {
  color: #fefefe;
  text-decoration: none;
}

header .nav-link + .nav-link {
  margin-left: 25px;
}

.hero {
  height: 650px;
  background-color: #e9f0fd;
  background: no-repeat center/100% url(../images/hero.jpg);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.hero .container {
  height: 104px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 40%;
  right: 0;
  left: 0;
}

.hero input {
  display: none;
}

.hero .hero-switcher {
  width: 104px;
  background-color: #24282ea8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 100px;
  cursor: pointer;
}

.hero .hero-switcher:hover {
  background-color: #32a8d6;
}

.hero .hero-slogan {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.hero h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}

.hero h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.hero .action {
  padding-top: 10px;
}

.hero a {
  margin: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14;
  font-weight: bold;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.hero a:hover {
  background-color: #32a8d6;
}

.accent {
  color: #32a8d6;
}

.logo-and-nav {
  height: 90px;
}

.logo-and-nav .container {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
}

.logo-and-nav nav {
  width: 721px;
  height: 20px;
  font-size: 14px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 900;
}

.logo-and-nav .logo {
  width: 70px;
  height: 30px;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-and-nav .logo .span_l {
  margin-left: 1px;
}

.logo-and-nav .logo .span_l.color {
  color: #32a8d6;
  font-weight: 900;
}

.logo-and-nav .nav-link {
  color: #393939;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-and-nav .nav-link:hover {
  color: #32a8d6;
}

.logo-and-nav .nav-link + .nav-link {
  margin-left: 45px;
}

.about {
  height: 600px;
}

.about .container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
}

.about .features {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  height: 280px;
}

.about .feature {
  height: 280px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
  opacity: 0.71;
  border: solid 1px;
}

.about .feature:hover {
  border-color: #32a8d6;
}

.about .feature:hover i {
  color: #32a8d6;
}

.about .feature:hover h3 {
  color: #32a8d6;
}

.about .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.about .icon-container i {
  font-size: 48px;
  color: #c4c4c4;
}

.about p {
  margin-top: 10px;
  margin-bottom: 0;
  max-height: 62px;
  overflow: auto;
}

.routes {
  height: 700px;
  background: no-repeat bottom/100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(../images/routes_background.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/routes_background.jpg);
}

.routes .container {
  height: 100%;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.routes .heading .title {
  color: #ffffff;
}
/*# sourceMappingURL=main_page.css.map */