@import '../../common-styles/variables';


.blog{
    height: 700px;

    .container {
        height: 100%;
        font-family: $main-font-family;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
    }

    .blog-container {
        margin-bottom: 55px;
        justify-content: space-between;
        height: 440px;

        .blog-post {
            height: 380px;
            width: 350px;
            flex-direction: column;

            a { 
                text-decoration: none;

                img {
                    width: 350px;
                    height: 230px;
                }

                .title {
                    font-size: 18px;
                    height: 44px;
                    font-family: $secondary-font-family;
                    margin: 3.5px 19.5px 4.5px 0;
                    line-height: 1.44;
                    letter-spacing: -0.18px;
                    text-align: left;
                    color: #555252;
    
                }

                .block_line {
                    height: 3px;
                    width: 130px;
                    background-color: $accent-color;
                    margin: 4.5px 121.5px 7.5px 0.5px;
                }

                .text {
                    height: 50px;
                    margin: 8px 22px 0 0.5px;
                    font-size: 14px;
                    font-family: $secondary-font-family;
                    letter-spacing: -0.14px;
                    text-align: left;
                    color: #555252;
                }
            } 
        }
    }
}